* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #d50e50;
  overflow: hidden;
  font-family: "Mundi Regular", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 80px;
}

ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: white;
  font-size: 30px;
}

img {
  width: 500px;
  max-width: 100%;
}

a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  width: 450px;
  justify-content: center;
  align-items: center;
  border: none;
  background-size: 500% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  display: flex;
  padding: 15px 50px;
  text-decoration: none;
  gap: 10px;
}

a:hover {
  background-position: 100% 0;
  transition: all 0.8s ease-in-out;
}

a {
  background-image: linear-gradient(to right, #d50e50, #d0dd28);
  box-shadow: 0 4px 15px 0 rgba(50, 0, 75, 0.75);
}

@media (max-width: 768px) {
  img {
    width: 300px;
  }

  a {
    width: 300px;
  }
}